body {

  margin: 0;
  background: #212121;
  touch-action: pan-y;
  overflow: auto;

  scroll-behavior: smooth;

}

.scroll-dummy {

  height: 2500px;
  width: fit-content;

  margin: auto;

  z-index: 1;
  
  display: flex;
  justify-content: center;

}
  
.image-container {

  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.image-container img {

  width: 50%;
  height: auto;

  margin: auto;

  justify-content: center;
  align-items: center;

}

.buttons {

  z-index: 5;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px;

}

.buttons .button {

  margin: 10px;

  padding: 10px;
  border: none;
  border-radius: 5px;

  background: #3c3c3c;
  color: white;

  cursor: pointer;
  
  font-family: monospace;

}